{% extends 'metal/base_metal.html' %}

{% block title %}
  {% include 'metal/includes/menu.html' %}
{% endblock %}

{% block block_1 %}
    
    {% include 'metal/includes/buttons.html' %}

    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Filter</button>
    </form>

    {% for page in page_obj %}
        <a class="text-black" href="{{ page.get_absolute_url }}" role="button">{{ page.steel }}</a><br>
        {{ page.steel_info|safe }}<br>
        <a class="text-black" href="{{ page.metals_class.get_absolute_url }}" role="button">{{ page.metals_class.steel_class }}</a><br>
        <br>
    {% empty %}
      No results found.
    {% endfor %}

    {% include 'metal/includes/paginator.html' %}

{% endblock %}

{% block block_2 %}
  это блок 2


{% endblock %}