{% extends 'metal/base_metal.html' %}

{% block title %}
    Поиск сплавов
{% endblock %}



{% block block_1 %}
    <div class="container text-center">
        <a class="btn btn-warning" href="{% url 'start_url' %}" role="button">К обзору марок стали</a>
    </div>

    <div class="container text-center">
      <div class="row row-cols-5">

        {% for element in metal %}
          <div class="row">

              <div class="col">{{element}}</div>

              <form action="{% url 'search_url' %}" method="post">
                {% csrf_token%}
                {{form.steel}}
              </form>

          </div>
        {% endfor %}

      </div>
    </div>
{% endblock %}


{% block block_2 %}
  snnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
{% endblock %}

