{% extends 'metal/base_metal.html' %}
{% load getattribute %}

{% block title %}
  {% include 'metal/includes/menu.html' %}
{% endblock %}



{% block block_1 %}

    {% include 'metal/includes/buttons.html' %}
    <div class="container text-center">Поиск по % содержанию элементов в сплаве. Для исключения желаемого значения поставьте перед ним дефис ("-").</div>
    <div class="container text-center">Для поиска по диапазону значений, поставьте между ними дефис ("-"), а так же перед, если это исключающий диапазон.</div>
    <div class="container mt-5">
      <form method="post">
        {% csrf_token %}

        <div class="row">
          <!--  за рендеринг формы отвечает template_name = "metal/includes/form_snippet.html" в MetalForm(forms.ModelForm) -->
          {{form}}
        </div>

        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Показать</button>

      </form>
        {% url 'steel-result-url' as top_path %}
        {% if request.path != top_path %}
            <a class="btn btn-warning" href="{{ top_path }}" role="button">К истории поиска</a>
        {% endif %}
    </div>

    {% if page_obj %}
        <div class="container text-center">Всего найдено совпадений: {{page_obj.paginator.count}}</div>
        {% for page in page_obj %}
            <div class="container text-center">
                <div class="col"><a href="{{page.get_absolute_url}}">{{page.steel}}</a></div>

                {%for key, value in initial.items%}
                    {% if value is not None %}
                        {{key}}
                        {{page.metals|getattribute:key}}
                    {% endif %}
                {% endfor %}

                <div class="col"><a href="{{page.get_absolute_url}}">{{page.metals_class.steel_class}}</a></div>
            </div>

        {% endfor %}
        {% include 'metal/includes/paginator.html' %}
    {% endif %}

{% endblock %}


{% block block_2 %}
  snnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
{% endblock %}

