{% extends 'metal/base_metal.html' %}

{% block title %}
  {% include 'metal/includes/menu.html' %}
{% endblock %}



{% block block_1 %}

    {% include 'metal/includes/buttons.html' %}

    <div class="container mt-5">
      <form method="post">
        {% csrf_token %}

        <div class="row">
          <!--  за рендеринг формы отвечает template_name = "metal/includes/form_snippet.html" в MetalForm(forms.ModelForm) -->
          {{form}}
        </div>

        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Показать</button>
      </form>
    </div>

{% endblock %}


{% block block_2 %}
  snnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
{% endblock %}

