{% extends 'metal/base_metal.html' %}


{% block title %}
    Обзор сплавов
{% endblock %}


{% block block_1 %}
    <p>
        Поиск по всем полям
    </p>
    <h1>

    </h1>
    <div class="container text-center">
        <button class="btn btn-warning"><a href="{% url 'search_url' %}">К поиску сталей по составу</a></button>
    </div>

    <div class="container text-center">

        <div class="row">

        {% for m in metal_info %}
            <div class="col"><a href="#">{{m.steel}}</a></div>
            <div class="col"><a href="#">{{m.metals_class.steel_class}}</a></div>
            <div class="col">{{m.steel_info}}</div>
            <hr>
        {% endfor %}

        </div>

    </div>
{% endblock %}


{% block block_2 %}
  это блок 2
{% endblock %}

