{% extends 'metal/base_metal.html' %}


{% block title %}
    Обзор сплавов
{% endblock %}


{% block block_1 %}
    <p>
        Поиск по всем полям

      <!--{{metal.steel}}-->
    </p>
    <h1>

    </h1>
    <div class="container text-center">
      <div class="row row-cols-5">
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
        <div class="col">Колонка</div>
      </div>
    </div>
{% endblock %}


{% block block_2 %}
  это блок 2
{% endblock %}

