{% extends 'metal/base_metal.html' %}

{% block title %}
    Вид применения стали
{% endblock %}

{% block block_1 %}
    
    {% include 'metal/includes/buttons.html' %}

    <div class="container text-center">

        <div class="row">

            <div class="col">{{metal_class.steel_class}}</div>

            {% for steel in metal_class.metals_info.all %}   <!-- важно использовать all если результатов много -->
                <div class="col"><a href="{{ steel.get_absolute_url }}">{{steel.steel}}</a></div>
                <div class="col">{{steel.steel_info}}</div>
                <hr>
            {% endfor %}

        </div>

    </div>
{% endblock %}