{% extends 'metal/base_metal.html' %}

{% block title %}
  {% include 'metal/includes/menu.html' %}
{% endblock %}

{% block block_1 %}
    
    {% include 'metal/includes/buttons.html' %}

    {% for steel in page_obj %}

        <div class="container text-center">
            <div class="row">

                <a class="btn btn-warning" href="{{steel.get_absolute_url }}" role="button">{{steel.steel_class}}</a>
                <hr>

            </div>
        </div>
    {% endfor %}

    {% include 'metal/includes/paginator.html' %}


{% endblock %}

{% block block_2 %}
  это блок 2


{% endblock %}