{% extends 'metal/base_metal.html' %}

{% block title %}
    Какая-то сталь
{% endblock %}

{% block block_1 %}

    {% include 'metal/includes/buttons.html' %}

    <div class="container text-center">

        <div class="row">


            <div class="col">{{metal_info.steel}}</div>
            <div class="col"><a href="{{metal_info.metals_class.get_absolute_url }}">{{metal_info.metals_class.steel_class}}</a></div>
            <div class="col">{{metal_info.steel_info}}</div>
            {% with m=metal_info.metals %}

                {% for element in m.field_S %}    <!-- .lower-->
                    <div class="col">{{element}}</div>
                {% endfor %}
                {% for element in m.return_all %}
                    <div class="col">{{element}}</div>
                {% endfor %}
            {% endwith %}
            <hr>

        </div>

    </div>
{% endblock %}