{% extends 'metal/base_metal.html' %}

{% block title %}
  {% include 'metal/includes/menu.html' %}
{% endblock %}

{% block block_1 %}

    {% include 'metal/includes/buttons.html' %}

    <div class="container text-center">

        <div class="row">


            <div class="col">{{metal_info.steel}}</div>
            <div class="col"><a href="{{metal_info.metals_class.get_absolute_url }}">{{metal_info.metals_class.steel_class}}</a></div>
            <div class="col">{{metal_info.steel_info|safe}}</div>
            <hr>
            {% with m=metal_info.metals %}
                <div class="row row-cols-3">
                    {% for key, value in m.return_all.items %}
                        <div class="mb-3">
                            <label style="{% if value != '0' %}background: #D9FFAD{% endif %}">{{key}}</label>
                            <label style="{% if value != '0' %}background: #D9FFAD{% endif %}">{{value}}</label>
                        </div>
                    {% endfor %}
                 </div>
            {% endwith %}


        </div>

    </div>
{% endblock %}