{% extends 'users/base_users.html' %}

{% block title %}
  {% include 'users/includes/menu.html' %}
{% endblock %}

{% block block_1 %}
    <h1>Введите ваши данные</h1>
  <form method="post">
      {% csrf_token %}

      <input type="hidden" name="next" value="{{ next }}" />        <!-- перенаправляет на страницу с которой
          пришлось делать аутентификацию-->

      {% include 'users/includes/form_for_user.html' %}

      <p ><button type="submit">Войти</button></p>
      <p ><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
  </form>
{% endblock %}